**/.DS_Store
**/node_modules
**/__pycache__
**/*.pyc
**/*.pyo
.venv
venv
*.egg-info
.env
.envs/*.env
!.envs/.*.env.example
.next
dist
build
*.log
.pytest_cache
.mypy_cache
.ruff_cache
ollama_data
redis_data
coverage/
.coverage
htmlcov/
